.DS_Store
Thumbs.db


__pycache__/
*.py[cod]


#folders
compare_lineages/output_files/
information_files/

#figures with dates
figures/overall_trends-202*
figures/S222_S477_compare-202*
figures/logistic_fits-202*
figures/pie_tree-202*
figures/United Kingdom-newcases-seqs-202*
figures/uk_pie_tree-202*
figures/EUClusters_compare-202*
figures/compare_lineages_Switzerland-202*


# Some of emma's rough scripts
clusterDynamics_weekFreq.py
clusterManuDraft.docx
figures/uk_pie_tree.png
networkTrial2.py
old_swiss_tree/
figures/pie_tree-EBH.png
tree_pie_plot_EBH.py

#back up file
manu_backup-2020-10-10.txt
Swiss_intro_notes_old.md

# work in progress
plotCountrySequencing.py
