.DS_Store
Thumbs.db


__pycache__/
*.py[cod]


#folders
compare_lineages/output_files/
information_files/
/data/

#figures with dates
figures/overall_trends-202*
figures/S222_S477_compare-202*
figures/logistic_fits-202*
figures/pie_tree-202*
figures/United Kingdom-newcases-seqs-202*
figures/uk_pie_tree-202*
figures/EUClusters_compare-202*
figures/USAClusters_compare-202*
figures/SwissClusters_compare-202*
figures/compare_lineages_Switzerland-202*
overall_trends_figures/overall_trends-202*


# Some of emma's rough scripts
clusterDynamics_weekFreq.py
clusterManuDraft.docx
figures/uk_pie_tree.png
networkTrial2.py
old_swiss_tree/
figures/pie_tree-EBH.png
tree_pie_plot_EBH.py

#back up file
manu_backup-2020-10-10.txt
Swiss_intro_notes_old.md

# work in progress & archive
plotCountrySequencing.py
scripts/allClusterDynamics_faster-pre3Nov21.py


# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# LAPIS Access key
.env
