name: "sync acknowledgements"

runs:
  using: "composite"
  steps:
    - name: "[deployment] Clear AWS S3 bucket: acknowledgements"
      run: |
        echo "[deployment] Clear AWS S3 bucket: acknowledgements"
        aws s3 rm s3://${AWS_S3_BUCKET} --recursive --exclude "*" --include "acknowledgements/"
      shell: bash

    - name: "[deployment] Copy to AWS S3: acknowledgements"
      run: |
        echo "[deployment] Copy to AWS S3: acknowledgements"
        cd web/.build/production/web
        aws s3 cp --recursive --cache-control "max-age=7200, public" --metadata-directive REPLACE "acknowledgements/" "s3://${AWS_S3_BUCKET}/acknowledgements/"
      shell: bash

    - name: "[deployment] Invalidate AWS Cloudfront cache: acknowledgements"
      run: |
        echo "[deployment] Invalidate AWS Cloudfront cache: acknowledgements"
        aws cloudfront create-invalidation \
          --distribution-id ${AWS_CLOUDFRONT_DISTRIBUTION_ID} \
          --paths "/acknowledgements/*"
      shell: bash