*.log
.DS_Store
\.build
.next
\.cache
\.ignore
\.env
\.idea
\.reports
\.vscode
node_modules
dist/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.coverage
.playwright-report
.json-autotranslate-cache

*storybook.log
